[submodule "lib/KiCad-Schematic-Symbol-Libraries"]
	path = lib/KiCad-Schematic-Symbol-Libraries
	url = https://github.com/xesscorp/KiCad-Schematic-Symbol-Libraries.git
[submodule "lib/kicad-libs"]
	path = lib/kicad-libs
	url = https://github.com/corecode/kicad-libs.git
[submodule "lib/kicad-symbols"]
	path = lib/kicad-symbols
	url = https://github.com/KiCad/kicad-symbols.git
